::-webkit-scrollbar, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-button {
	width: 0;
}
/* common */
* {
	font-family: "微软雅黑", "SimHei", "Tahoma";
	-webkit-appearance: none;
}
html {
	width: 100%;
	height: 100%;
}
body {
	background: -webkit-linear-gradient(#DDD, #FFF);
	background: -moz-linear-gradient(#DDD, #FFF);
	background: -ms-linear-gradient(#DDD, #FFF);
	background: -o-linear-gradient(#DDD, #FFF);
	margin: 0;
	overflow: hidden;
}
input[type=text], input[type=number], input[type=password], input[type=mobile], textarea, select {
	border: 1px solid #BBB;
	line-height: 24px;
	width: 15%;
	height: 24px;
	outline: none;
	padding: 2px 0;
	margin: 5px auto;
	vertical-align: middle;
}
input[type=number] {
	width: 50%;
}
input[type=text]:hover, input[type=number]:hover, input[type=password]:hover, input[type=mobile]:hover, textarea:hover,
input[type=text]:focus, input[type=number]:focus, input[type=password]:focus, input[type=mobile]:focus, textarea:focus {
	border: 1px solid orange;
}
.button {
	border: 1px solid gray;
	background: #DDD;
	color: #000;
	width: 30%;
	padding: 5px;
	outline: none;
	margin: 2px;
	max-width: 120px;
}
input[type=submit] {
	margin-top: 10px;
	margin-bottom: 30px;
}
.back {
	margin-top: 15px;
	margin-bottom: -5px;
}
.button:hover {
	background: #F3F3F3;
}
.button:active {
	background: #333;
	color: #FFF;
}
.form_left {
	line-height: 24px;
	height: 24px;
	width: 30%;
	display: inline-block;
	border: 1px solid #BBB;
	padding: 2px 0;
	background: #DDD;
	margin-right: -2px;
	vertical-align: middle;
}
.form_right {
	display: inline-block;
	vertical-align: middle;
}
.form_desc {
	width: 80%;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: -1px;
	border: 1px solid #BBB;
	background: #EEE;
	padding: 5px 0;
}
h1, .form_row_container {
	font-weight: normal;
	text-align: center;
}

/* logged in */
header {
	background: #191919;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 48px;
	color: white;
	z-index: 10;
	box-shadow: 0 2px 5px #191919;
}
header h1 {
	text-align: left;
	font-size: 24px;
	line-height: 48px;
	height: 48px;
	display: inline-block;
	margin: 0;
	margin-left: 20px;
}
header a {
	color: #FFF;
	text-decoration: none;
}
#logout {
	float: right;
	margin-right: 20px;
	height: 48px;
	line-height: 48px;
}
#test {
	position: absolute;
	top: 48px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	overflow: auto;
	text-align: center;
	border-right: 1px solid gray;
	box-shadow: 0 0 10px #333;
}
ul {
	list-style-type: none;
	padding: 0;
	cursor: pointer;
}
ul:last-child {
	border-bottom: 1px solid #BBB;
}
ul a {
	text-decoration: none;
}
ul li:active {
	background: #333 !important;
	color: #FFF !important;
}
ul li {
	height: 48px;
	line-height: 48px;
	border-top: 1px solid #BBB;
	color: #000;
}
ul li:hover {
	background: #DDD;
}
.li_left {
	float: left;
	margin-left: 10%;
}
.li_right {
	float: right;
	margin-right: 10%;
}
.thin {
	width: 20% !important;
	min-width: 120px;
}
textarea {
	width: 100%;
}
form a {
	color: #333;
	text-decoration: none;
	font-weight: normal;
}
select {
	width: 23%;
	height: 30px;
}
.insert {
	height: 0;
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	-o-transition: height 0.5s;
	transition: height 0.5s;
	overflow: hidden;
}
.warning {
	color: red !important;
}